.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 381px) {
  .row {
    gap: 1rem;
    align-items: center;
  }
}

@media (min-width: 721px) {
  .row {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1065px) {
  .row {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
