.agendaTitle {
  margin-block-start: 1rem;
  margin-block-end: 0;
}

.agendaMeta {
  font-size: smaller;
  margin-block-end: 0.5rem;
  color: var(--don-grijs-600);
  fill: var(--don-robijnrood-200);
}

.agendaIntro {
  margin-block-end: 0;
  font-size: smaller;
  color: var(--ifm-color-content);
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

:global(a:hover) .agendaTitle {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.agendaDate, .agendaTime, .agendaPlace {
  display: inline-block;
  margin-inline-end: 0.5rem;
}
