/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: start;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.intro {
  font-size: clamp(1.2rem, 3.333vw, 2rem);
  max-width: 60rem;
  color: var(--don-lichtblauw-200);
  margin: 0;
}

.intro__highlight {
  color: var(--ifm-color-white);
}

.twoColumns {
  display: block;
  padding-block-end: 2rem;
}

@media (min-width: 768px) {
  .twoColumns {
    display: flex;
  }

  .twoColumns > * {
    flex: 0 0 50%;
  }
}