.tiles {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 3rem;
  list-style: none;
  padding: 0rem 0 2rem;
  /* Reset <UL> native bottom margin */
  margin-bottom: 3rem;
}

.tiles--sparse{
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 4rem;
  margin-bottom: 0rem;
}

@media (max-width: 56.25rem) {
  .tiles {
    --columns: 2;
  }
}

@media (max-width: 37.5rem) {
  .tiles {
    --columns: 1;
  }
}

.tile {
  word-break: break-word;
  hyphens: auto;
  position: relative;
  p {
    margin-bottom: 0;
  }
}

.title {
  margin-block-end: 0.25rem;
  color: var(--don-donkerblauw-500);
}

.icon {
  width: 3rem;
  height: 3rem;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}


.highlight {
  display: inline-block;
  font-size: 0.875rem;
  background-color: var(--don-lichtblauw-100);
  color: var(--don-grijs-900);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  position: static;
  margin: 0;
}

:global(.highlight--tutorial) {
  background-color: var(--don-robijnrood-50);
}

:global(.highlight--nieuw) {
  background-color: var(--ifm-color-warning-lighter);
}

.spacer {
  margin-inline-end: 0.25rem;
}

.externalLinkIcon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.25rem;
}

.title .externalLinkIcon {
  width: 1rem;
  height: 1rem;
}
