.tiles {
  --columns: 4;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 1rem;
  /* align-items: center; */
  padding: 3rem 0;
  /* width: 100%; */
  list-style: none;
}

.tile {
  /* outline: 1mm dashed salmon; */
  word-break: break-word;
  hyphens: auto;
}

.title {
  margin-block-end: 0.25rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.link {
  color: inherit;
}

.spacer {
  margin-inline-end: 0.25rem;
}

.externalLinkIcon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.25rem;
}
